*, *::before, *::after {
    box-sizing:      border-box;
    margin:          0;
    padding:         0;
    user-select:     none;
    text-decoration: none;
    color:           inherit;
}

*::-webkit-scrollbar {
    width:   0;
    display: none;
}

html, body {
    width:      100vw;
    height:     100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: var(--ff-roboto), sans-serif;
    color:       var(--text-primary);
    background:  var(--background-primary);
}

input, button, select {
    outline-offset: 0;
    outline:        none;
    border:         none;
}

img {
    -moz-user-select:    none;
    -ms-user-select:     none;
    -webkit-user-select: none;
    user-select:         none;
    user-drag:           none;
    -webkit-user-drag:   none;
}


.allow-selection {
    -webkit-user-select: text;
    user-select:         text;
}

input[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield; /* This removes the spinner in Firefox */
}
